
<section class="userHeader">
  <h2 class="red">Explore The Latest Bookmarks</h2>
  <p>Explore the latest bookmarks added. A live collection of the most recently added bookmarks to markker from the entire users database. Add a website to your own collection if you see something you like! It's as easy as clicking a few buttons. Not really though cause that doesnt work yet. Anyway have a look around and have a nice day.</p>
</section>

<div class="card">
  <div class="image_gallery">
  <% @websites.reverse.each do |website| %>
  <div class="bookmark_img">
    <%= link_to image_tag(website.image, :class => 'thumb', :alt => website.title), website %>
  </div>
  <% end %>
  </div>
</div>
