
<section class="userHeader">
  <h2 class="red">My Bookmarks.</h2>
  <p>Scroll your current bookmarks. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
</section>


<div class="image_gallery">
<% current_user.websites.each do |website| %>
<div class="bookmark_img">
  <%= link_to image_tag(website.image, :class => 'thumb', :alt => website.title), website %>
</div>
<% end %>
</div>
