
<section class="userHeader">
  <h2 class="red">My Bookmarks.</h2>
  <p>Live collection of your most recently added bookmarks. Click Add Website to add more websites to your list</p>
</section>


<div class="image_gallery">
<% current_user.websites.reverse.each do |website| %>
<div class="bookmark_img">
  <%= link_to image_tag("//image.thum.io/get/width/900/crop/700/#{website.link}", :class => 'thumb', :alt => website.title), website %>
</div>
<% end %>
</div>
