<div class="new_bookmark_form">
  <h1>Add New Bookmark</h1>
  <p>Found a nice website? Just add the link below and we will automatically screenshot the website for you</p>

  <%= render :partial => 'form' %>
</div>
