/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Work+Sans');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;

}

body.new {
    background: url(http://res.cloudinary.com/josephmichael/image/upload/v1522929956/bg7.jpg);
    background-size: cover;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
}

.alert {
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  padding: 1em;
  color: black;
}

nav a:hover {
  color: tomato;
}

.leftFlex {
  margin-right: auto;
  font-weight: bold;
}

main {
  width: 97%;
  margin: 0 auto;
}

/* sign in  */

.signin_box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  margin: 0 auto;
  padding: 5em;
  background: white;
}


#user_email, #user_password , #user_password_confirmation    {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 2rem;

}


.actions input[type=submit] {
    margin-top: 2em;
    width: 100%;
    border: 2px solid black;
    padding: 2rem;
    color: white;
    background: black;
  }

.signup_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

}

.signup_form {
background-color:white;
padding: 2em;
}
